<h2><%= @pokemon.name %> <a href="/pokemon/<%= @pokemon.id %>/edit">(edit)</a></h2>
<h3>name: <%= @pokemon.name %></h3>
<h3>cp: <%= @pokemon.cp %></h3>
<h3>type: <%= @pokemon.type %></h3>
<h3>photo: <%= @pokemon.photo %></h3>
